html, body {
    position: relative;
    
    font-family: monospace;
    font-size: 14px;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html, body, body * {
    box-sizing: border-box;
    line-height: 1.25em;
}

div#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

pre {
    margin: 0;
}

#shell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
    width: 100%;
    height: 100%;
    padding: 1em;

    overflow-x: hidden;
    overflow-y: auto;
}

@import './themes/classic.scss';
@import './themes/solar.scss';
